header.header 
    .header__container 
        .header__top
            .header__nav#menu.nav 
                ul.header__top--list 
                    li.header__top--item 
                        a(href="#menu").header__top--link.hamburger 
                            span 
                    li.header__top--item 
                        a(href="#").header__top--link Stays
                    li.header__top--item 
                        a(href="#").header__top--link Attractions
                    li.header__top--item 
                        a(href="#").header__top--link Shop
                    li.header__top--item 
                        a(href="#").header__top--link Blog
            .header__logo 
                img(src="img/logo.png", alt="")
            .header__contacts 
                .contact
                    a(href="#").header__contacts--link Contact
                button.btn.btn__signin Sign in
                        span.fa-solid.fa-arrow-right-to-bracket.icon
                button.btn.btn_purple Become a host 
                        span.fa-solid.fa-arrow-right-to-bracket.icon 
                        img(src="img/vector.png", alt="").btn__img
                        img(src="img/vector.png", alt="").btn__img1