.welcome__img 
        img.img(src="img/house.png", alt="")
.welcome__container 
    .welcome__card 
        .welcome__card--left 
            ul.slider__list.slider
                li.slider__item
                    img(src="img/slider1.jpg", alt="")
                li.slider__item
                    img(src="img/slider1.jpg", alt="")
                li.slider__item
                    img(src="img/slider1.jpg", alt="") 
            .card__content 
                h4.card__content--title old abandoned bedroom   
                p.card__content--text Watch out for ghosts that may be roaming around you
                .card__content--option 
                    .price $325
                        span.night /night
                    .quality 4,95
        .welcome__card--right
            ul.slider__list.slider 
                li.slider__item
                    img(src="img/slider1.jpg", alt="")
                li.slider__item
                    img(src="img/slider1.jpg", alt="")
                li.slider__item
                    img(src="img/slider1.jpg", alt="") 
            .card__content 
                h4.card__content--title old abandoned bedroom   
                p.card__content--text Watch out for ghosts that may be roaming around you
                .card__content--option 
                    .price $325
                        span.night /night
                    .quality 4,95
