$fs-xxlg: 64px;
$fs-xlg: 32px;
$fs-md: 16px; 
$fs-sm: 14px;
$main-font: "Roboto";
$secondary-font: "frightmareregular";
$color1: #fff;
$color2: #dbdeff;
$color3: #dc59c0;
$color4: #160d3b;
$color5: #1e1e1e;
$color6: #ebedff;
$color7: #aaa9ce;
$color8: #fcebf9;